<!DOCTYPE html>

<html lang="pt-br">

<head>
    <script src="../script/paginas/cadastro.js" defer></script>
    <link href="../css/cadastrar.css" rel="stylesheet">
</head>

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.ejs')%>

    <main>

      <div id="boxForms">

        <div id="logo">            
          <img src="../images/logos/logo.png">
        </div>
        
        <form action="/salvarUsuario" method="post">
            
            <h2 class="cadastro-titulo">Cadastro</h2>

            <input type="hidden" name="id" value="<%= user.iduser %>">

            <div class="imagem-container input-container">
                <input type="file" accept="image/*" name="imgPerfil" id="imgPerfil">
                <figure for="imgPerfil"><img src="../images/icones/perfil.png" id="img"></figure>
                <label for="imgPerfil">Imagem de Perfil</label>            
            </div>

            <div class="nome-container input-container">
                <label for="nome">Nome:</label>
                <input type="text" maxlength="30" value="<%= user.nome %>" name="nome" id="nome" required>                
            </div>

            <div class="nascimento-container input-container">
                <label for="dataNascimento">Data de Nascimento:</label>
                <input type="date" name="dataNascimento" value="<%= user.nascimento %>" id="dataNascimento">
            </div>

            <div class="email-container input-container">
                <label for="email">E-mail:</label>
                <input type="email" name="email" value="<%= user.email %>" id="email" required>
            </div>

            <div class="senha-container input-container">
                <label for="Senha">Senha:</label>
                <input type='<%= acao == "Cadastrar" ? "password":"text" %>' value="<%= user.senha %>" name="senha" id="senha" required>
            </div>

            <div class="confirmar-container input-container">
                <label for="Confirmar Senha">Confirmar Senha:</label>
                <input type='<%= acao == "Cadastrar" ? "password":"text" %>' value="<%= user.senha %>" name="confirmarSenha" id="confirmarSenha" required>
            </div>
            <% if (admin == true & acao == "Atualizar") {%>
                <div class=" input-container">
                    <h2> Cargo:</h2>
                    <label for="cargo1"><%= user.cargo%></label>
                    <input type="radio" name="cargo" value='<%= user.cargo%>' id="cargo1" checked>
                    <label for="cargo2"><%= user.cargo == "admin" ? "user" : "admin" %></label>
                    <input type="radio" name="cargo" value='<%= user.cargo == "admin" ? "user" : "admin" %>' id="cargo2">
            </div>
            <% }; %>
            <a href="/entrar" class="possui-cadastro-container">
                Já é cadastrado? Faça login.
            </a>

            <input type="submit" name="acao" value="<%= acao %>" class="confirmar-input">
        </form>

      </div>
    </main>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.ejs') %>
    
</body>
</html>