<!DOCTYPE html>
<html lang="pt-br">

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.ejs')%>

    <main id="cadastrados-main-container">
        <div>
        <form method="post" action="/pesquisarUsuarios">
            <input type="text" placeholder="Barra de pesquisa" name="inputText"></input>
            <input type="submit" value="Pesquisar" class="botao">
        </form>

        <form method="post" action="/processarUsuario">
            <input type="submit" value="Inserir" name="acao" class="botao">
            <input type="submit" value="Atualizar" name="acao" class="botao">
            <input type="submit" value="Excluir" name="acao" class="botao">
            <div id="tabela-container">
            <table>
                <thead>
                    <tr class="cabecalho">
                        <th>Seleção</th>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Permissão</th>
                        <th>Email</th>
                        <th>Senha</th>
                        <th>UserFoto</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach((u) => {%>
                    <tr>
                        <td><input type="radio" name="userId" value="<%= u.iduser %>"></input></td>
                        <td><%= u.iduser %></td>
                        <td><%= u.nome %></td>
                        <td><%= u.cargo %></td>
                        <td><%= u.email %></td>
                        <td><%= u.senha %></td>
                        <td><%= u.imagemURL %></td>
                    </tr>
                    <% })%>                    
                </tbody>
            </table>
            <div id="barra-baixo"></div>
        </div>
        </form>
        </div>
    </main>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.ejs') %>
    
</body>
</html>