<!DOCTYPE html>

<html lang="pt-br">

<%- include('./layout/head.html') %>

<body>
    <%- include ('./layout/header.ejs') %>

    <table>
        <caption>Placar de Líderes</caption>

        <thead>
            <tr>
                <th>Posição</th>
                <th>Jogador</th>
                <th>Pontuação</th>
            </tr>
        </thead>

        <tbody>
            <% hs.forEach ((hs) => { %>
            <tr>
                <!-- <td><%= %></td> -->
                <td><%= hs.user_iduser %></td>
                <td><%= hs.pontuacao %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>

    <%- include ('./layout/chat') %>

    <%- include ('./layout/footer.ejs') %>
</body>

</html>