<!DOCTYPE html>

<html lang="pt-br">

<%- include('./layout/head.html') %>

<body>
    <%- include ('./layout/header.ejs') %>
    <main id="cadastrados-main-container">
        <div>
            <table>
                <caption> Placar de líderes</caption>
                <thead>
                    <tr class="cabecalho">
                        <th>Posição</th>
                        <th>Jogador</th>
                        <th>Pontuação</th>
                        <th>Tempo</th>
                    </tr>
                </thead>
                <tbody>
                    <% let position = 1; %>
                    <% hs.forEach ((hs) => { %>
                    
                    <tr>
                        <td><%= position++ %></td>
                        <td><%= hs.nome %></td>
                        <td><%= hs.pontuacao + " pontos" %></td>
                        <td><%= hs.timer + "s" %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            <div id="barra-baixo"></div>
        </div>    
    </main>
    <%- include ('./layout/chat') %>

    <%- include ('./layout/footer.ejs') %>
</body>

</html>