<!DOCTYPE html>
<html lang="pt-br">

<%- include('./layout/head.html') %>

<body>
    
    <%- include('./layout/header.html')%>
    
    <main>
        <div id="resultado-container">
            <%= mensagem %>
        </div>

    </main>

    <%- include('./layout/chat') %>
    
    <%- include('./layout/footer.html') %>
    
</body>
</html>