<script src="../script/paginas/tradutor.js" type="module" defer></script>
<header id="cabecalho">                
    <div id="logo">
        <img src="../images/logos/logo.png">
    </div>
    
    <div id="links">
        <a href="/"><img src="../images/icones/casa.png"><span class="traduzir inicio">Inicio</span></a>            
        <a href="/tutoriais"><img src="../images/icones/tutorial.png"><span class="traduzir tutoriais">Tutoriais</span></a>
        <a href="/highscore"><img src="../images/icones/tutorial.png"><span class="traduzir pontuacao">Highscore</span></a>
    </div>        
    
    <div id="login">
        <a href="/<%= logado == true ? 'sair':'entrar' %>"><img id="entrar" src="<%= logado == true ? '../images/icones/entrar_2.png':'../images/icones/entrar_1.png'%>"><span><%= logado == true ? 'Sair':'Entrar' %></span></a>
        <a href="/<%= logado == true ? 'perfil':'cadastro' %>"><img src="<%= logado == true ? '../images/icones/perfil_pixel.png':'../images/icones/cadastro.png'%>"><span><%= logado == true ? 'Perfil':'Cadastrar' %></span></a>
    </div>
    
    <div id="chat" class="<%= logado == true ? 'chat':'' %> <%= userId %>">
        <img src="../images/icones/chat.png">
    </div>

    
</header>